
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <!--Google fonts-->
    <style src="https://fonts.googleapis.com/css?family=Montserrat"></style>
    <!--Apexcharts-->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <!--
    <style src="static\apexcharts.css"></style>
    <script src="static\apexcharts.min.js"></script> 
    -->
    <!--Papaparse-->
    <script src="static/plugin/papaparse.min.js"></script>


    <title>Apexcharts test</title>
</head>

<body>
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <div id="chart-line"></div>
        <div id="chart-line2"></div>       
        
          <script type="text/javascript" src="static/main_apexcharts_papa.js"></script>
                
      </div>
    </div>
  </div>
</body>
